@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* font-family: 'Montserrat', sans-serif; */
}


a {
  all: unset;
}

*:focus {
  outline: none;
}

.hoverable:hover {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

button:hover {
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.App {
  max-width: 100vw;
  overflow-x: hidden;
}

*::-webkit-scrollbar {
  width: 10px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(159, 159, 159);
  border-radius: 10px;
}